<div class="container-fluid">
    <div class="row">
        <ul class="list-group col-2">
            <li class="list-group-item">Playlists</li>
            {{#each playlists as |pl|}}
            <li class="list-group-item playlist" id="{{pl.id}}">{{pl.name}}</li>
            {{/each}}
        </ul>
        <div class="videowrapper col-8">
            <iframe width="600" height="345" src="https://www.youtube.com/embed/tgbNymZ7vqY" id="youtube">
            </iframe>
        </div>
        <ul class="list-group col-2" id="resultsList">
            <li class="list-group-item">Results</li>
        </ul>
    </div>
</div>
<script src="/js/homepage.js"></script>
<script src="/js/navbar.js"></script>