<h1 class="m-3">Login</h1>
<form class="m-5 border p-3">
    <h2>Enter Your Login Info</h2>
    <div class="form-group">
        <label for="email">email</label>
        <input type="text" class="form-control" id="email" placeholder="Enter Email">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Enter Password">
    </div>
    <button type="submit" class="btn btn-primary" id="login">Login</button>
</form>
<script src="/js/login.js"></script>